.Work{
  background-color: rgb(192, 192, 118);
}

:root{
  --header-heigth: 60px
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.Work{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:var(--header-heigth) 1fr;
  grid-template-areas:
      "header"
      "contentx";
  height: 100vh;
  background-color: #F5F5F5;
}

#Addline{
 margin-right: 10px;
}

.ContainerButtonForm{
  display: inline-flex;
  margin: 15px;
}

.webfunctions{
  margin: 10px;
}

.header{
  grid-area: header;
  background-color: rgb(85, 196, 196);
}
.Contentx{
  grid-area: contentx;
  background-color: rgb(188, 241, 241);
}

.Linha{
 background-color: black;
}

.linhas1{
visibility:hidden;
}
.linhas2{
  visibility:hidden;
  }
  .linhas3{
    visibility:hidden;
    }
    .linhas4{
      visibility:hidden;
      }
      .linhas5{
        visibility:hidden;
        }
        .linhas6{
          visibility:hidden;
          }
          .linhas7{
            visibility:hidden;
            }
            .linhas8{
              visibility:hidden;
              }
              .linhas9{
                visibility:hidden;
                }